examples/testing/__pycache__/math_func.cpython-38.pyc
examples/testing/__pycache__/test_math_func.cpython-38-pytest-6.2.3.pyc
LearningPython/lpsource/code/__pycache__/rangetest_test.cpython-38-pytest-6.2.3.pyc
LearningPython/lpsource/code/__pycache__/rangetest.cpython-38.pyc
LearningPython/lpsource/code/__pycache__/rangetest1_test.cpython-38-pytest-6.2.3.pyc
LearningPython/lpsource/code/__pycache__/rangetest1.cpython-38.pyc
examples/efficient_code/__pycache__/test_functions.cpython-38-pytest-6.2.3.pyc
.vscode/settings.json

examples/pandas/tmp_clean_stock_data.csv
examples/pandas/file_clean.xlsx
examples/boto3/params.py
examples/boto3/jsp_params.py
examples/boto3/__pycache__/jsp_params.cpython-38.pyc
examples/boto3/__pycache__/params.cpython-38.pyc
.devcontainer/Dockerfile
.devcontainer/devcontainer.json
examples/kinesis_lambda/jsp_params.py
examples/kinesis_lambda/__pycache__/jsp_params.cpython-38.pyc
